body {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background: #fff;
	color: #4d4d4d;
	padding: 0;
	margin: 0;
	font-style: normal;
	line-height: 1;
	cursor: default;
	height: 100%;
	font-size: 100%;
	position: relative;
	font-weight: 400;
	.navbar {
		background-color: #333;
		padding: 0.6rem 1rem;
		.container-fluid {
			max-width: 62.5em;
			.navbar-brand {
				img {
					width:175px;
				}
			}
		}
	}
	.main-content {
		margin-left:auto;
		margin-right:auto;
		margin-top:25px;
		.button {
			background-color: #ff851f;
			color: #fff;
			padding: .75rem 1rem;
			box-shadow: 0 1px 0 rgba(255,255,255,.25) inset;
			font-weight: 700;
			font-size: .9rem;
			border: 1px solid #e56800;
			border-radius: 3px;
			text-decoration: none;
		}
	}
	.modal {
		top:10%;
		.modal-dialog {
			max-width: 55.55rem;
			width: 70%;
			.modal-content {
				.close {
					position: absolute;
					right: 10px;
					cursor: pointer;
				}
				.modal-body {
					margin-top: 30px;
					margin-bottom: 30px;
					#quoteform {
						.form-group {
							margin-bottom: 2rem;
							.form-control {
								border: 1px solid #ccc;
								box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
								border-radius: 0px;
							}
							.form-control:focus {
								box-shadow: 0 0 5px #999;
								background: #fafafa;
								border-color: #999;
								outline: 0;
							}
						}
						.half {
							width: 50%;
							display: inline-block;
							float: left;
						}
						.half-left {
							padding-right:5%;
						}
						.half-right {
							padding-left:5%;
						}
					}
					.rightimage {
						img {
							height: auto;
							max-width:100%;
						}
						.button-success {
							background-color: #6ab546;
							color: #fff;
							padding: 1.25rem 3.5rem;
							box-shadow: 0 1px 0 rgba(255,255,255,.25) inset;
							font-weight: 700;
							font-size: 1rem;
							border: 1px solid #66ae43;
							border-radius: 3px;
							text-decoration: none;
							margin-left: auto;
							margin-right: auto;
							margin-top: 4rem;
							display: block;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}